In [1]:
import twitter
import os
import pandas

If you want to learn how to get the credentials for twitter, please refer to this docs from the python-twitter package.
https://python-twitter.readthedocs.io/en/latest/getting_started.html

In [2]:
secrets_path = "secrets/secrets.txt"

count_line = 1
secrets_data = {}
with open(secrets_path, 'r') as fp:
    for line in fp:
        key, value = line.split("=")
        secrets_data[key] = value.rstrip()
        count_line +=1

In [3]:
secrets_path

'secrets/secrets.txt'

In [6]:
api_crawler = twitter.Api(consumer_key=secrets_data["API_KEY"], 
                          consumer_secret=secrets_data["API_SECRET"],
                          access_token_key=secrets_data["ACCESS_TOKEN"],
                          access_token_secret=secrets_data["TOKEN_SECRET"]
                         )

In [35]:
source_data = "twitter_data/tweets_labeled.txt"
df = pandas.read_csv(source_data, names=["tweet_id", "label"])

In [36]:
df.head(10)

             tweet_id   label
0  572342978255048705  racism
1  572341498827522049  racism
2  572340476503724032  racism
3  572334712804384768  racism
4  572332655397629952  racism
5  575949086055997440  racism
6  551659627872415744  racism
7  551763146877452288  racism
8  551768543277355009  racism
9  551769061055811584  racism

In [9]:
df.iloc[200:100]

Empty DataFrame
Columns: [tweet_id, label]
Index: []

In [10]:
bulk_size = 100
pos = 0
data = []
while pos < df.shape[0]:
    bulk_ids = df.iloc[pos:(pos+bulk_size)]["tweet_id"].tolist()
    pos += bulk_size
    data.append(api_crawler.GetStatuses(bulk_ids))

In [11]:
len(data)

170

In [23]:
data[0][0].__dict__

{'param_defaults': {'contributors': None,
  'coordinates': None,
  'created_at': None,
  'current_user_retweet': None,
  'favorite_count': None,
  'favorited': None,
  'full_text': None,
  'geo': None,
  'hashtags': None,
  'id': None,
  'id_str': None,
  'in_reply_to_screen_name': None,
  'in_reply_to_status_id': None,
  'in_reply_to_user_id': None,
  'lang': None,
  'location': None,
  'media': None,
  'place': None,
  'possibly_sensitive': None,
  'quoted_status': None,
  'quoted_status_id': None,
  'quoted_status_id_str': None,
  'retweet_count': None,
  'retweeted': None,
  'retweeted_status': None,
  'scopes': None,
  'source': None,
  'text': None,
  'truncated': None,
  'urls': None,
  'user': None,
  'user_mentions': None,
  'withheld_copyright': None,
  'withheld_in_countries': None,
  'withheld_scope': None},
 'contributors': None,
 'coordinates': None,
 'created_at': 'Mon Mar 02 09:48:33 +0000 2015',
 'current_user_retweet': None,
 'favorite_count': 2,
 'favorited': False,
 'full_text': None,
 'geo': None,
 'hashtags': [Hashtag(Text='MKR')],
 'id': 572332655397629952,
 'id_str': '572332655397629952',
 'in_reply_to_screen_name': None,
 'in_reply_to_status_id': None,
 'in_reply_to_user_id': None,
 'lang': 'en',
 'location': None,
 'media': None,
 'place': None,
 'possibly_sensitive': None,
 'quoted_status': None,
 'quoted_status_id': None,
 'quoted_status_id_str': None,
 'retweet_count': 0,
 'retweeted': False,
 'retweeted_status': None,
 'scopes': None,
 'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
 'text': 'These girls are the equivalent of the irritating Asian girls a couple years ago. Well done, 7. #MKR',
 'truncated': False,
 'urls': [],
 'user': User(ID=2601524623, ScreenName=JL_Whitaker),
 'user_mentions': [],
 'withheld_copyright': None,
 'withheld_in_countries': None,
 'withheld_scope': None,
 'tweet_mode': 'compatibility',
 '_json': {'created_at': 'Mon Mar 02 09:48:33 +0000 2015',
  'id': 572332655397629952,
  'id_str': '572332655397629952',
  'text': 'These girls are the equivalent of the irritating Asian girls a couple years ago. Well done, 7. #MKR',
  'truncated': False,
  'entities': {'hashtags': [{'text': 'MKR', 'indices': [95, 99]}],
   'symbols': [],
   'user_mentions': [],
   'urls': []},
  'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'in_reply_to_screen_name': None,
  'user': {'id': 2601524623,
   'id_str': '2601524623',
   'name': 'CreatetheWorldYouWant',
   'screen_name': 'JL_Whitaker',
   'location': 'Victoria Australia',
   'description': 'I write books https://t.co/HhlLFE07RL ,Cancer Survivor, chat politics, women issues, social justice, artist, music, movie buff, RT not nec endorsemt',
   'url': 'http://t.co/ZLC2pgfiKe',
   'entities': {'url': {'urls': [{'url': 'http://t.co/ZLC2pgfiKe',
       'expanded_url': 'http://janwhitaker.com/',
       'display_url': 'janwhitaker.com',
       'indices': [0, 22]}]},
    'description': {'urls': [{'url': 'https://t.co/HhlLFE07RL',
       'expanded_url': 'http://janwhitaker.com/?page_id=8',
       'display_url': 'janwhitaker.com/?page_id=8',
       'indices': [14, 37]}]}},
   'protected': False,
   'followers_count': 2169,
   'friends_count': 2179,
   'listed_count': 86,
   'created_at': 'Thu Jul 03 11:27:16 +0000 2014',
   'favourites_count': 27724,
   'utc_offset': None,
   'time_zone': None,
   'geo_enabled': False,
   'verified': False,
   'statuses_count': 76303,
   'lang': None,
   'contributors_enabled': False,
   'is_translator': False,
   'is_translation_enabled': False,
   'profile_background_color': 'BADFCD',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme12/bg.gif',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme12/bg.gif',
   'profile_background_tile': True,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/672163598970433536/qubocyRk_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/672163598970433536/qubocyRk_normal.jpg',
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/2601524623/1418679518',
   'profile_link_color': '3B94D9',
   'profile_sidebar_border_color': '000000',
   'profile_sidebar_fill_color': 'FFF7CC',
   'profile_text_color': '0C3E53',
   'profile_use_background_image': True,
   'has_extended_profile': False,
   'default_profile': False,
   'default_profile_image': False,
   'following': False,
   'follow_request_sent': False,
   'notifications': False,
   'translator_type': 'none'},
  'geo': None,
  'coordinates': None,
  'place': None,
  'contributors': None,
  'is_quote_status': False,
  'retweet_count': 0,
  'favorite_count': 2,
  'favorited': False,
  'retweeted': False,
  'lang': 'en'}}

In [24]:
dataset = []
for bulk_list in data:
    for datum in bulk_list:
        dataset.append(datum.__dict__)

In [32]:
df_tweet_info = pandas.DataFrame(dataset)

In [33]:
df_tweet_info.head(10)

,param_defaults,contributors,coordinates,created_at,current_user_retweet,favorite_count,favorited,full_text,geo,hashtags,...,text,truncated,urls,user,user_mentions,withheld_copyright,withheld_in_countries,withheld_scope,tweet_mode,_json
0,"{'contributors': None, 'coordinates': None, 'c...",None,None,Mon Mar 02 09:48:33 +0000 2015,None,2,False,None,None,"[{""text"": ""MKR""}]",...,These girls are the equivalent of the irritati...,False,[],"{""created_at"": ""Thu Jul 03 11:27:16 +0000 2014...",[],None,None,None,compatibility,{'created_at': 'Mon Mar 02 09:48:33 +0000 2015...
1,"{'contributors': None, 'coordinates': None, 'c...",None,"{'type': 'Point', 'coordinates': [153.37975174...",Mon Mar 02 10:23:41 +0000 2015,None,4,False,None,"{'type': 'Point', 'coordinates': [-28.07334137...","[{""text"": ""mkr""}]",...,Drasko they didn't cook half a bird you idiot ...,False,[],"{""created_at"": ""Sun Jan 31 11:35:37 +0000 2010...",[],None,None,None,compatibility,{'created_at': 'Mon Mar 02 10:23:41 +0000 2015...
2,"{'contributors': None, 'coordinates': None, 'c...",None,None,Mon Mar 02 10:19:37 +0000 2015,None,2,False,None,None,"[{""text"": ""MKR""}]",...,Hopefully someone cooks Drasko in the next ep ...,False,[],"{""created_at"": ""Fri May 08 11:45:45 +0000 2009...",[],None,None,None,compatibility,{'created_at': 'Mon Mar 02 10:19:37 +0000 2015...
3,"{'contributors': None, 'coordinates': None, 'c...",None,None,Mon Mar 02 09:56:43 +0000 2015,None,0,False,None,None,"[{""text"": ""MKR""}]",...,of course you were born in serbia...you're as ...,False,[],"{""created_at"": ""Wed Jun 25 10:30:25 +0000 2014...",[],None,None,None,compatibility,{'created_at': 'Mon Mar 02 09:56:43 +0000 2015...
4,"{'contributors': None, 'coordinates': None, 'c...",None,None,Thu Mar 12 09:18:57 +0000 2015,None,0,False,None,None,"[{""text"": ""MKR""}]",...,#MKR Lost the plot - where's the big Texan wi...,False,[],"{""created_at"": ""Sun Dec 26 00:42:25 +0000 2010...",[],None,None,None,compatibility,{'created_at': 'Thu Mar 12 09:18:57 +0000 2015...
5,"{'contributors': None, 'coordinates': None, 'c...",None,None,Mon Mar 02 10:29:34 +0000 2015,None,2,False,None,None,"[{""text"": ""MKR""}]",...,So Drasko just said he was impressed the girls...,False,[],"{""created_at"": ""Fri May 16 13:51:44 +0000 2014...",[],None,None,None,compatibility,{'created_at': 'Mon Mar 02 10:29:34 +0000 2015...
6,"{'contributors': None, 'coordinates': None, 'c...",None,"{'type': 'Point', 'coordinates': [145.74140643...",Mon Mar 02 10:36:01 +0000 2015,None,2,False,None,"{'type': 'Point', 'coordinates': [-16.89838955...","[{""text"": ""MKR2015""}, {""text"": ""MKR""}, {""text""...",...,I've had better looking shits than these two! ...,False,[],"{""created_at"": ""Thu May 12 19:28:14 +0000 2011...",[],None,None,None,compatibility,{'created_at': 'Mon Mar 02 10:36:01 +0000 2015...
7,"{'contributors': None, 'coordinates': None, 'c...",None,None,Sun Mar 01 02:05:37 +0000 2015,None,1,False,None,None,"[{""text"": ""mkr""}]",...,The face of very ugly promo girls ! Faces like...,False,[],"{""created_at"": ""Mon Dec 29 11:01:21 +0000 2014...",[],None,None,None,compatibility,{'created_at': 'Sun Mar 01 02:05:37 +0000 2015...
8,"{'contributors': None, 'coordinates': None, 'c...",None,None,Mon Mar 02 10:39:21 +0000 2015,None,2,False,None,None,"[{""text"": ""mkr""}, {""text"": ""notsassy""}]",...,@mykitchenrules Elegant and beautiful?Cheap an...,False,[],"{""created_at"": ""Sun Jul 08 14:04:04 +0000 2012...","[{""id"": 2992750166, ""id_str"": ""2992750166"", ""n...",None,None,None,compatibility,{'created_at': 'Mon Mar 02 10:39:21 +0000 2015...
9,"{'contributors': None, 'coordinates': None, 'c...",None,None,Fri Nov 28 00:42:12 +0000 2014,None,0,False,None,None,"[{""text"": ""fuckthanksgiving""}]",...,"""He can't be a server at our restaurant, that ...",False,[],"{""created_at"": ""Tue Nov 06 21:56:54 +0000 2012...",[],None,None,None,compatibility,{'created_at': 'Fri Nov 28 00:42:12 +0000 2014...

In [34]:
df_tweet_info.to_csv("twitter_data/labeled_tweets_info.csv")

# Exploration

In [39]:
exploration_df = pandas.merge(df_tweet_info, df, left_on=["id"], right_on=["tweet_id"])

In [43]:
exploration_df["label"].describe()

count     10781
unique        3
top        none
freq       7911
Name: label, dtype: object

In [45]:
exploration_df.dtypes

param_defaults              object
contributors                object
coordinates                 object
created_at                  object
current_user_retweet        object
favorite_count               int64
favorited                     bool
full_text                   object
geo                         object
hashtags                    object
id                           int64
id_str                      object
in_reply_to_screen_name     object
in_reply_to_status_id      float64
in_reply_to_user_id        float64
lang                        object
location                    object
media                       object
place                       object
possibly_sensitive          object
quoted_status               object
quoted_status_id           float64
quoted_status_id_str        object
retweet_count                int64
retweeted                     bool
retweeted_status            object
scopes                      object
source                      object
text                        object
truncated                     bool
urls                        object
user                        object
user_mentions               object
withheld_copyright          object
withheld_in_countries       object
withheld_scope              object
tweet_mode                  object
_json                       object
tweet_id                     int64
label                       object
dtype: object

In [53]:
exploration_df["label"] = exploration_df["label"].astype('category')

In [54]:
exploration_df.groupby("label").count()

,param_defaults,contributors,coordinates,created_at,current_user_retweet,favorite_count,favorited,full_text,geo,hashtags,...,truncated,urls,user,user_mentions,withheld_copyright,withheld_in_countries,withheld_scope,tweet_mode,_json,tweet_id
label,,,,,,,,,,,,,,,,,,,,,
none,7911,0,128,7911,0,7911,7911,0,128,7911,...,7911,7911,7911,7911,0,0,0,7911,7911,7911
racism,17,0,2,17,0,17,17,0,2,17,...,17,17,17,17,0,0,0,17,17,17
sexism,2853,0,40,2853,0,2853,2853,0,40,2853,...,2853,2853,2853,2853,0,0,0,2853,2853,2853